.main-box {
    padding: 30px;
    width: 100%;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.center-box {


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.asdf {
    height: 8.2rem;
    overflow-y: auto;
}


.asdf::-webkit-scrollbar {
    width: 4px;
}

.asdf::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c0c0c0;
}



.backgroundHeader{
    background-color: #f8f9fa !important;
    color: black !important;
    text-transform: capitalize !important;
    padding:20px 10px;
}
.heightForTitle{
    height: 50px;
    display: flex;
    align-items: center;

}
.heightForTitle h5{
    margin-bottom: 0px;
}
.description{
    margin-left: 10px;
    font-size: 18px;
}

.username{
    background: #f1f2f3;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px
}

.tag-home{
    background: #e1ecf4;
     display: inline-block;
     padding: 5px 7px;
     border-radius: 10px;
    font-size: 13px;
     color: #39739d
}


.title-home{

    text-decoration: none;
    /* background: #f1f2f3; */
    padding: 10px;
    /* border-radius: 10px; */
    border-bottom: 1px solid gray;
}
.specific-commit{
    border-bottom: 1px solid #f1f2f3;
}
.username-commit{
  
   font-size: 13px; 
   font-weight: 600;
   
    border-radius: 10px
}

.answer-commit{
  
    font-size: 12px; 
    font-weight: 600;
     border-radius: 10px
 }

.commit-answer{
    font-size: 12px;
    cursor: pointer;
    color: blue;
   
}
.question-title{
    margin-bottom: 5px !important;
}

.answer_commit{
background: aliceblue;
border-radius: 8px;
border-bottom: 1px solid rgb(187, 186, 186);

}
.profile-home{
    background: #e1ecf4;
    display: inline-block;
   padding: 7px;
   font-size: 17px;
    border-radius: 10px;
    color: #39739d
}

.block-ellipsis{
    display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 34px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}


