.sections{
    background-color: #19191b;

}

.right{
    font-size: 16px;
    float: right;
    padding: 10px;
    margin: 10px 0px 20px;
    border-radius: 15px 15px 0px 15px;
    background-color: rgb(14, 59, 130);
    word-wrap:break-word;
    line-height: 1.8;
}
.text li{
    color: white;
    width: 50%;
    
}
.text{
    padding-left: 0px;
}
.inputs{
    background-color: #19191b;
    color: white;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
}

.chat-convertation li{
    clear: both;
    list-style-type: none;
}
.left{
    font-size: 16px;
    margin: 10px 0px;
    border-radius: 0px 15px 15px 15px;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    word-wrap:break-word;
    line-height: 1.8;
}
/* ::placeholder{
    padding-left: 20px;
} */
.chat-convertation{
    height: calc(100vh - 184px);
    overflow-y: auto;
    padding: 0px 60px;
}
.scroll {
    /* height: 8.2rem; */
    overflow-y: auto;
}


.scroll::-webkit-scrollbar {
    width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c0c0c0;
}
.dot {
    margin-top: 8px;
    height: 8px;
    width: 8px;
    background-color: rgb(77, 217, 101);
    border-radius: 50%;
    display: inline-block;
  }
.active-button{
    color:rgb(77, 217, 101);
    font-size: 14px;
    margin-left: 5px;
}
